@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.woff2') format('woff2'),
	     url('../fonts/OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro-Light.woff2') format('woff2'),
	     url('../fonts/DINPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro.woff2') format('woff2'),
	     url('../fonts/DINPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
	     url('../fonts/DINPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../fonts/DINPro-Black.woff2') format('woff2'),
	     url('../fonts/DINPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
