////
/// Common variables
///
/// Put all reusable variables in here. 
/// Breakpoint variables are defined in settings/breakpoints
////

/// Color variables.

$color-default: #eeeeee;
$color-primary: #E15980;
$color-secondary: #ff6600;
$color-white: #ffffff;
$color-gray: #F4F4F4;

$color-tertiary: #eee;

$color-text: #000;
$color-text-inverted: #ffffff;
$color-text-pall: #999999;

$border-radius: 0;

$transition-in: all 0.5s;
$transition-out: all 0.3s;


/// Fonts.

$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'Montserrat', sans-serif;
$font-family-headings: 'Montserrat', sans-serif;


// Headings.

$headings-margin-bottom: 1.125em;
$headings-font-family: $font-family-headings;
$headings-font-style: normal;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: $color-text;

$h1-font-size: Max(1.25rem, Min(2.5em, 8vw)); 
$h2-font-size: 24px;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em
