.slider {

    &__item {
        background-position-x: 0, center;
        background-position-y: 0, center;
        background-size: 70px, cover;
        background-repeat: no-repeat;
        height: 160px !important;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        padding-top: 15px;
        justify-content: center;

        @media (min-width: $xl) {
            background-position-x: -20px, center;
            background-position-y: -20px, center;
            align-items: center;
            background-size: 110px, cover;
        }

        &:hover {
            text-decoration: none;
        }

        &--first {
            background-image: url(../images/slide1.svg), url(../images/slide-bg-1.jpg);
        }

        &--second {
            background-image: url(../images/slide2.svg), url(../images/slide-bg-2.jpg);
        }

        &--third {
            background-image: url(../images/slide3.svg), url(../images/slide-bg-3.jpg);
        }

        &--fourty {
            background-image: url(../images/slide4.svg), url(../images/slide-bg-4.jpg);
        }

        &-text {
            font-size: 18px;
            color: #fff;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
            word-break: break-word;
            line-height: 1.3;

            @media (min-width: $xl) {
                padding-left: 110px;
            }
        }
    }
}

.swiper-scrollbar {
    opacity: 1 !important;
    height: 4px;
    background-color: #EBEDF3;
    border-radius: 50px;
    bottom: -60px;
    width: 25%;
    margin: 0 auto;
    cursor: pointer;

    &-drag {
        background: #F15F79 !important;
        border-radius: 50px;
    }
}

.swiper-button-next {
    right: -30px;
    color: #2C4FC7;
}

.swiper-button-prev {
    left: -30px;
    color: #2C4FC7;
}