.docs {
    
    &__item {
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 15px;

        &-name {
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 9px;

            @media (min-width: $md) {
                font-size: 18px;
            }
        }

        &-size {
            color: #8B8B8B;
            font-size: 14px;
        }

        &-text {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
        }
    }
}