.news {

    &__more {
        display: flex;
        align-items: center;
        color: $color-primary;
        font-weight: 600;
        text-transform: uppercase;

        &:hover {
            color: $color-primary;
        }
    }

    &__all {
        font-size: 14px;

        & a {
            color: $color-primary;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.news {
    
    &__item {
        width: 100%;
        height: 150px;
        padding: 8px;

        &--height2 {
            height: 300px;
            background-repeat: no-repeat;

            & .news__item-title {
                color: #fff;
                margin-bottom: 35px;

                &:hover {
                    text-decoration: underline;
                }
            }
            
            & .news__item-rubric {
                color: #fff;
            }

            & .news__item-more {
                color: #fff;
            }

            & .news__item-wrapper {
                justify-content: flex-end;
            }
        }

        @media (min-width: $sm) {
            width: 50%;
            height: 216px;

            &--height {
                width: 432px;
            }
        }

        @media (min-width: $lg) {
            height: 186px;
            width: 33.33%;

            &--height2 {
                height: 372px;
            }
        }

        &--width2 {
            width: 66.66%;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.3;

            &:hover {
                text-decoration: none;
            }
        }

        &-rubric {
            font-size: 12px;
        }

        &-more {
            letter-spacing: 2px;
            font-size: 20px;
            transform: translateY(-5px);

            &:hover {
                text-decoration: none;
            }
        }

        &-wrapper {
            position: relative;
            height: 100%;
            padding: 20px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}