.promo-item {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    height: 320px;
    background-position-y: -50px;
    background-size: cover;
    background-repeat: no-repeat;   

    @media (min-width: $lg) {
        background-position-y: center;
        background-position-x: center;
        padding: 50px 20px;
        height: 566px;
    }

    &--abiturient {
        background-image: url(/img/abitur.jpg);
    }

    &--student {
        background-image: url(/img/stud.jpg);
    }

    &--employee {
        margin-top: 0;
        background-position-y: -10px;
        background-image: url(/img/empl.jpg);

        @media (min-width: $sm) {
            margin-top: 30px;
        }

        @media (min-width: $lg) {
            margin-top: 0;
            background-position-y: 0px;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 24px;

        @media (min-width: $lg) {
            font-size: 36px;
        }
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        & li {
            margin-bottom: 5px;
        }

        & a {
            color: #fff;
            text-decoration: underline;
            font-size: 14px;

            &:hover {
                text-decoration: none;
            }

            @media (min-width: $md) {
                font-size: 16px;
            }
        }
    }
}