.section {
    padding: 0 0 80px;

    @media (min-width: $lg) {
        padding: 0 0 120px;

        &--promo {
            height: 100vh;
        }
    }

    &--promo {
        height: initial;
        background-image: url(/img/promo-bg.jpg);
        display: flex;
        align-items: center;
    }

    &--bb {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 0;
        margin-bottom: 120px;
    }

    &--bt {
        border-bottom: 1px solid #E6E6E6;
        padding-top: 0;
        margin-top: 120px;
    }

    &--first-inner {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 400px;

        @media (min-width: $xl) {
            height: 630px;
        }

        @media (min-width: $lg) {
            height: 550px;
        }

        @media (min-width: $md) {
            height: 400px;
        }

        @media (min-width: $sm) {
            height: 400px;
        }
    }
}