.section {
    padding: 0 0 80px;

    @media (min-width: $lg) {
        padding: 0 0 120px;

        &--promo {
            height: 100vh;
        }
    }

    &--promo {
        height: initial;
        background-image: url(/img/promo-bg.jpg);
        display: flex;
        align-items: center;
        padding-top: 40px;

        @media (min-width: $lg) {
            padding-top: 100px;
        }
    }
}