.studying-item {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;

    @media (min-width: $sm) {
        padding: 40px 35px;
        box-shadow: 9px 9px 34px rgba(0, 0, 0, 0.1);
    }
    
    &--study {
        background-color: #F1F4FF;
    }

    &--teacher {
        background-color: #FAF9E8;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 40px;

        @media (min-width: $sm) {
            font-size: 24px;
        }

        @media (min-width: $lg) {
            font-size: 38px;
            margin-bottom: 80px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & li {
            margin-bottom: 7px;
        }
    }

    &__link {
        color: #0052B4;
        line-height: 1.1;
    }
}