%heading {
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-style: $headings-font-style;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

h1, .u-h1 {
	@extend %heading;
	font-size: $h1-font-size;
	text-transform: uppercase;
}

h2, .u-h2 {
	@extend %heading;
	font-size: $h2-font-size;
}

h3, .u-h3 {
	@extend %heading;
	font-size: $h3-font-size;
}

h4, .u-h4 {
	@extend %heading;
	font-size: $h4-font-size;
}

h5, .u-h5 {
	@extend %heading;
	font-size: $h5-font-size;
}

h6, .u-h6 {
	@extend %heading;
	font-size: $h6-font-size;
}