.container--fluid {
    margin: 0 15px !important;
    width: auto;

    @media (min-width: $xl) {
        margin: 0 90px !important;
    }
}

.container--slider {
    @media (min-width: $md) {
        margin: 0 90px !important;
    }
}